.App {
  text-align: center;
  margin:  auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.headerText {
  text-align: center;
  background-color:#53E0FF;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font: bold;
  border-radius: 25px;
  font-size: larger;
  text-wrap: wrap;
  white-space: pre-wrap;

}

.ActivityButton {
  background-color: yellow;
  border: none;
  text-align: center;
  padding: '25% 40px 80px 20px';
}
.ActivityButton img {
  height: 150px;
  width: 150px;
  border: none;
}


button {
  border: 2px solid;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}


table {
  border-collapse: collapse;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4870FF;
  white-space: pre-wrap;

  
}

button:hover {
  background: #c23866;
  color: #fff;
}

.WelcomeMessage {
  text-align: center;
  background-color: #D9D9D9;
  width: 75%;
  font-family:Arial, Helvetica, sans-serif;
  font: bold;
  border-radius: 25px;
  font-size: larger;
  text-wrap: wrap;
  white-space: pre-wrap;
}


.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.simon-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 20px;
}

.SimonContainer {
  text-align: center;
  background-color: #D9D9D9;
  font-family:Arial, Helvetica, sans-serif;
  font: bold;
  border-radius: 25px;
  font-size: larger;
  text-wrap: wrap;
  margin: 20px;
}

.back, .front {
  height: 100px;
  width: 100px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  */
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/

/*
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/