#ActionButton {
    height: 50px;
    width: 75%;
}

.ButtonFlashA {
    background-color: black;
    color:white;

}

.ButtonFlashB {
    background-color: green;
    color:black;

}

.WindowDamaged {
    background-color: red;
}

.WindowCounter {
    background-color: green;
}


.ActionWindow {
    background-color: aqua;
    width: 400px;
    height:300px;
    margin-bottom: 10px;
}

.ActionImage {
    margin: 10px 10px 10px 10px;
    align-content: center;
    width: 375px;
    height: 275px;

}

.CounterButton {
    height: 150px;
    width: 75%;
    background-color: yellow;
}

.CounterMeter {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: yellow;
    margin-bottom: 10px;
}

.CounterMeterFill {
    height: 100%;
    border-radius: 10px;
    background-color: green;
    transition: width 0.5s ease-out;
}

.BossHealth {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 10px;
}

.BossHealthBar {
    height: 100%;
    border-radius: 10px;
    background-color: red;
    transition: width 0.5s ease-out;
}

