#ActionButton {
    height: 50px;
    width: 75%;
}

.ButtonFlash {
    background-color: black;
    color:white;

}


.ActionWindow {
    background-color: aqua;
    width: 400px;
    height:300px
}

.CounterButton {
    height: 150px;
    width: 75%;
    visibility: hidden;
}
    